{% if messages %}
    {% for message in messages %}
        {% if message.level == 40 %}
            <div class="flex bg-red-300 shadow-md rounded-md font-bold p-3 mb-3 gap-2">
        {% elif message.level == 30 %}
            <div class="flex bg-yellow-300 shadow-md rounded-md font-bold p-3 mb-3 gap-2">
        {% elif message.level == 25 %}
            <div class="flex bg-green-300 shadow-md rounded-md font-bold p-3 mb-3 gap-2">
        {% elif message.level == 20 %}
            <div class="flex bg-blue-300 shadow-md rounded-md font-bold p-3 mb-3 gap-2">
        {% elif message.level == 10 %}
            <div class="flex bg-purple-300 shadow-md rounded-md font-bold p-3 mb-3 gap-2">
        {% endif %}
            {{ message }}

            <span class="material-symbols-outlined flex justify-end items-end baseline right-0">
                close
            </span>
        </div>
    {% endfor %}
{% endif %}