<header>
    <nav class="bg-gray-800 p-5 text-white shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex gap-4 items-center">
                <a href="/" id="blog-logo" class="text-xl font-bold">VBlog</a>
                <div class="space-x-8">
                    {% if user.is_authenticated %}
                        <a href="{% url 'index' %}" class="mr-4 hover:underline">Relevantes</a>
                        <a href="{% url 'about' %}" class="hover:underline">Recentes</a>
                    {% else %}
                        <a href="{% url 'index' %}" class="mr-4 hover:underline">Home</a>
                        <a href="{% url 'about' %}" class="hover:underline">About</a>
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="space-x-8">
                    {% if user.is_authenticated %}
                        <a href="{% url 'login' %}" class="mr-4 hover:underline">Profile</a>
                        <a href="{% url 'signin' %}" class="hover:underline">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="mr-4 hover:underline">Login</a>
                        <a href="{% url 'signin' %}" class="hover:underline">Signin</a>
                    {% endif %}
                </div>
            </div>
        </div>


</header>