{% extends "partials/base.html" %}
{% block title %} - Recents {% endblock title %}

{% block content %}
    <main class="bg-stone-100  w-full h-screen">
        <div class="container pt-10 pb-10 mx-50">
            <h2 class="text-xl">Posts Recentes</h2>
        
        {% if posts %}
            <div class="list-group">
                {% for post in posts %}
                    <a href="#" class="list-group-item list-group-item-action mb-3 card">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ post.title }}</h5>
                            <small class="text-muted">
                                Publicado em: {{ post.created_at|date:"d/m/Y H:i" }}
                            </small>
                        </div>
                        <p class="mb-1">{{ post.body|truncatechars:200 }}</p>
                        
                        {% if post.author %}
                            <small>Por: {{ post.author.username }}</small>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                Ainda não há posts recentes para exibir.
            </div>
        {% endif %}

        </div>
    </main>

{% endblock content %}