asgiref==3.11.0
Django==5.0.2
django-debug-toolbar==6.1.0
django-widget-tweaks==1.5.0
Markdown==3.10.2
mysqlclient==2.2.8
sqlparse==0.5.4
tzdata==2025.3
gunicorn
whitenoise
# Configuração profissional com .env
django-environ==0.11.2

# Gemini (Google GenAI oficial)
google-genai==1.3.0
